body{
    background: #eee;
    font: normal 13pt arial;

}

header{
    text-align: center;
    background: rgba(204, 204, 204, 0.356);
    padding: 20px 0;
}

header a#inicioBtn{
    background: #fff;
    color: #444;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}
header a#inicioBtn:hover{
    background:  rgba(93, 113, 138, 0.1);
}
header a#cadastrarBtn{
    background: rgb(29, 82, 151);
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}
header a#cadastrarBtn:hover{
    background: rgb(18, 61, 116);
}


section#inicioSec{
    display: block;
    margin: 30px;
    background: #fff;
    border-radius: 10px;
    border: none;
    text-align: center;

}
h1{
    color: rgba(18, 60, 116, 0.897);
    padding: 10px  0px;
    font-size: 35px;
    font-weight: 600;
}
section#cadastrarSec{
    display: none;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    background: #fff;
    border-radius: 10px;
    border: none;
}

section#editarSec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    background: #fff;
    border-radius: 10px;
    border: none;
}
 form, .form-group {
    width: 900px;
    margin: 1.5rem auto;
    width: 350px;
    text-align: center;
}

input{
    
    border-radius: 10px!important;
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
    background: rgb(46, 99, 168);
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 10px !important;
    border: none;
}
button:hover{
    background: rgba(18, 60, 116, 0.897);
}

.table td#acao{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

 i#trash {
    font-size: 20px;
    color: rgb(139, 8, 34);
    float: right;
    cursor: pointer;
}
 i#trash:hover{
    color: rgb(209, 49, 81);
}

 i#edit{
    font-size: 20px;
    color: rgb(15, 143, 68);
    float: right;
    padding-right: 15px;
    cursor: pointer;
} 

i#edit:hover{
    color: rgb(49, 209, 116);
}
i#plus {
    color: #2ab1f0;
    cursor: pointer;
    padding-left: 10px;
}

i#plus:hover{
    color: #1565c0;
}
a#plusBtn{
    color: #495057 ;
}
.table td, .table th {
    text-align: center;
}
div .newTel{
    display: flex;
    align-items: center;
}
i#minus{
    padding: 0px 5px;
    color: rgb(245, 65, 65);
    cursor: pointer;
}
i#minus:hover{
    color: rgb(197, 32, 32);
}
